@font-face {
  font-family: "iconfont"; /* Project id 3096213 */
  src: url('iconfont.woff2?t=1640760066214') format('woff2'),
       url('iconfont.woff?t=1640760066214') format('woff'),
       url('iconfont.ttf?t=1640760066214') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lishi:before {
  content: "\10047";
}

.icon-paizhao:before {
  content: "\10048";
}

.icon-pingjia:before {
  content: "\10049";
}

.icon-pinglun:before {
  content: "\1004a";
}

.icon-qiche:before {
  content: "\1004b";
}

.icon-qianbao:before {
  content: "\1004c";
}

.icon-rili:before {
  content: "\1004d";
}

.icon-shangchuan:before {
  content: "\1004e";
}

.icon-shezhi:before {
  content: "\1004f";
}

.icon-shouji:before {
  content: "\10050";
}

.icon-shouye:before {
  content: "\10051";
}

.icon-soucang:before {
  content: "\10052";
}

.icon-sousuo:before {
  content: "\10053";
}

.icon-taolun:before {
  content: "\10054";
}

.icon-tishi:before {
  content: "\10055";
}

.icon-tupian:before {
  content: "\10056";
}

.icon-tuijian:before {
  content: "\10057";
}

.icon-wenjianchaxun:before {
  content: "\10058";
}

.icon-wenjianjia:before {
  content: "\10059";
}

.icon-wode:before {
  content: "\1005a";
}

.icon-xiazai:before {
  content: "\1005b";
}

.icon-xianzhiwu:before {
  content: "\1005c";
}

.icon-xiaoxi:before {
  content: "\1005d";
}

.icon-xinxi:before {
  content: "\1005e";
}

.icon-yinle:before {
  content: "\1005f";
}

.icon-yinhangka:before {
  content: "\10060";
}

.icon-youhuiquan:before {
  content: "\10061";
}

.icon-yue:before {
  content: "\10062";
}

.icon-yuanbao:before {
  content: "\10063";
}

.icon-zhangdan:before {
  content: "\10064";
}

.icon-zhengjian:before {
  content: "\10065";
}

.icon-zhibo:before {
  content: "\10066";
}

.icon-zhuzhai:before {
  content: "\10067";
}

.icon-bianji:before {
  content: "\10034";
}

.icon-biaoji:before {
  content: "\10035";
}

.icon-biaoqingbao:before {
  content: "\10036";
}

.icon-bofang:before {
  content: "\10037";
}

.icon-chucha:before {
  content: "\10038";
}

.icon-chucang:before {
  content: "\10039";
}

.icon-daifahuo:before {
  content: "\1003a";
}

.icon-daifukuan:before {
  content: "\1003b";
}

.icon-dianying:before {
  content: "\1003c";
}

.icon-dianpu:before {
  content: "\1003d";
}

.icon-dingdan:before {
  content: "\1003e";
}

.icon-dingwei:before {
  content: "\1003f";
}

.icon-faxian:before {
  content: "\10040";
}

.icon-gaishuai:before {
  content: "\10041";
}

.icon-gonglve:before {
  content: "\10042";
}

.icon-gouwu:before {
  content: "\10043";
}

.icon-gouwuche:before {
  content: "\10044";
}

.icon-lipin:before {
  content: "\10045";
}

.icon-licai:before {
  content: "\10046";
}

