// 图标字体页面
.iconfont-page {
    margin: 20px 0 0 20px;
    padding-right: 50px;
    display: flex;
    flex-wrap: wrap;
    .ant-card {
        margin: 20px;
        width: 150px;
        height: 180px;
        text-align: center;
    }

    .icon-box {
        transition: all .3s;
        padding: 24px;
        
        &:hover {
            color: #1fb19e;
            transform: scale(1.2) rotate(360deg);
            transition: all .3s;
        }
    }
}

// 主页样式
.index-page {
    width: 1630px;
    padding-bottom: 50px;

    .top_message {
        display: flex;
        margin-top: 30px;
        height: 200px;

        .tips {
            color: #4c4c4c;
            margin-left: 30px;
            border-right: 1px solid #dbd8d8;
            padding-right: 50px;
            padding-top: 30px;
            height: 160px;

            .first {
                font-size: 20px;
                font-weight: 600;
                height: 40px;
            }

            .second, .third {
                font-size: 16px;
                height: 30px;
            }
        }

        .water {
            margin-left: 50px;
            width: 350px;
            height: 150px;
            transition: all 0.5s;

            &:hover {
                box-shadow: 0 0 20px #ccc;
                transform: scale(1.2);
                transition: all 0.5s;
            }
            .content {
                padding: 20px 0;
                display: flex;
                align-items: center;
                cursor: pointer;

               
                .iconfont {
                    font-size: 60px;
                    color: rgb(82, 76, 76);
                    margin-left: 40px;
                }

                .number {
                    font-size: 40px;
                    margin-left: 30px;
                    color: #4c4c4c;
                }
            }
        }
    }

    .main-body {
        display: flex;
        justify-content: space-between;

        .sall-action-body {
            min-width: 300px;
            margin-left: 30px;
        }
    
        .todo-list-body {
            width: 450px;
            height: 750px;
            overflow: auto;
            border: 1px solid #e4e3e3;
            border-radius: 10px;
            padding: 80px 20px;
            background: url(../../assets/images/note.jpg) no-repeat;
            background-size: 100%;
        }
    }
}


// 图表页面
.echarts-page {
    .echarts-page_list {
        display: flex;
        flex-wrap: wrap;

        .echarts-page_list_item {
            width: 500px;
            height: 350px;
            margin: 20px;
            border: 1px solid #f2f2f2;
            background-color: #f2f2f2;

        }

        .echarts-main_body {
            width: 500px;
            height: 300px;
            overflow: hidden;
            background-color: #fff;

            .echarts-main {
                width: 500px;
                cursor: pointer;
                transition: all 1s;
    
                &:hover {
                    transform: scale(1.3);
                    transition: all .5s;
                }
            }
        }

        .echarts-main_title {
            font-size: 20px;
            color: #5c5c5c;
            font-weight: 700;
            margin-top: 10px;
            text-align: center;
            cursor: pointer;
            transition: all .3s;

            &:hover {
                color: #1890ff;
                transition: all .3s;
            }
        }

        

    }

    .echarts-main_detail {
        width: 1000px;
        margin-left: 50%;
        transform: translateX(-500px);
        height: 600px!important;
    }
}

// 表格页面

.table-page {
    margin: 0 20px;
    
    .table-page_setting {
        margin: 20px 0 0 0;
        display: flex;
        flex-wrap: wrap;

        .table-page_setting_item {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            width: 30%;

            .label {
                min-width: 120px;
            }
        }
    }


    .table-page_body {
        height: 800px;
    }
}