@import "../common/var.scss";

#home {
    display: flex;
    justify-content: space-between;
    height: 100vh;

    .home-left {
        overflow-y: auto;
        box-sizing: border-box;
        
        &::-webkit-scrollbar {
            width: 5px;    
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background: #144572;
        }
        
    }

    .home-right {
        width: 100%;
        height: 100%;
        overflow: hidden;

        .header-box {
            width: 100%;
            height: 100%;

            .header-box_top {
                width: 100%;
                height: 50px;
                border-bottom: 1px solid $--border-color_default;
                box-shadow: 0 0 5px $--shadow-color_default;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .header-box_top_config {
                    margin-right: 30px;
                    display: flex;
                    align-items: center;

                    .header-box-top_user {
                        display: flex;
                        align-items: center;
                        margin-right: 20px;
                        color: $--word-color_default;
                        
                        img {
                            width: 30px;
                            height: 30px;
                            border-radius: 5px;
                            margin-right: 10px;
                        }
                    }


                }

            }
        }
    }
}


.card-container {
    width: 100%;
}









