#home {
    display: flex;
    justify-content: space-between;

    // 根据屏幕宽度动态计算标签页宽度
    @for $i from 0 to 300 {
        @media screen and (max-width: 2000px - 5px * $i) and (min-width: 1900px - 5px * $i){
            .ant-tabs > .ant-tabs-nav {
                width: 1800px - 5px * $i;
            }
        }
    }

    .left {
        height: 100vh;
        border-right: 1px solid rgb(204, 204, 204);
        // background-color: #001529;
        &::-webkit-scrollbar {
            display: none;
          }
    }

    .right {
        width: 100%;
        .header-box {
            display: flex;
            justify-content: space-between;
                       
            .header-box_right {
                width: 180px;
                display: flex;

                .user-box {
                    text-align: end;
                    overflow: hidden;
                    color: #1fb19e;
                    margin-top: -3px;
                }
            }
        }

        .line {
            width: 100%;
            height: 1px;
            background-color: #ccc;
            position: fixed;
            top: 40px;


        }
    }

    // 标签页样式修改
    .ant-tabs-tab  {
        border: none !important;
    }

    .anticon-close {
        color: #ccc;
        transition: color .3s;

        &:hover {
            color: #1890ff;
            transition: color .3s;
        }
    }
    
    .ant-tabs-top > .ant-tabs-nav::before {
        border-bottom: none;
    }

    // 标签页内容
    .ant-tabs-content-holder {
        overflow-y: auto;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        &::-webkit-scrollbar {
            display: none;
          }
    }
}


// 图标字体页面
.iconfont-page {
    margin: 20px 0 0 20px;
    padding-right: 50px;

    .ant-collapse-content-box {
        display: flex;
        flex-wrap: wrap;
    }

    .ant-card {
        width: 150px;
        margin: 0 10px 10px 0;
        text-align: center;
        color: #5c5c5c;


        .ant-card-body {
            padding: 0;
        }

        .icon-box {
            transition: all .3s;
            padding: 24px;
            
            &:hover {
                color: #1fb19e;
                transform: scale(1.2) rotate(360deg);
                transition: all .3s;
            }
        }
    }
}




