#login {
    width: 100%;
    height: 100vh;
    transition: background-color 1s;
    position: relative;
    text-align: center;
    overflow: hidden;


    &::-webkit-scrollbar {
        display: none !important;
      }

    .github-star {
        position: absolute;
        right: 8%;
        top: 100px;
    }
    
    h1 {
        color: #fff;
        font-size: 48px;
        line-height: 100px;
        margin-top: 300px;
    }

    .form {
        width: 400px;
        margin-left: 50%;
        transform: translateX(-50%);

        .ant-form-item-required {
            color: #fff;
        }

        .ant-form-item-explain {
            text-align: left;
        }
    }

    .tips {
        color: #ccc;
        margin-left: 300px;
        font-size: 10px;
    }


   
}